.dart_tool/
.idea/
.vscode/
.packages
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
android/app/debug.keystore
android/key.properties
*.iml
/.dart_tool/
/.gradle/
/.idea/
/.vscode/
/.DS_Store
/.fvm/
/.pub-cache/
/.packages
/.flutter-plugins
/.flutter-plugins-dependencies
/.metadata